header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:root {
    --primary: #0ed429;
    --primary-dark: #167c08;
    --primary-hover: #12d633;
    --primary-light: rgb(49, 216, 16);
    --background: #45e645;
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;
    --border: rgba(12, 255, 44, 0.664);
    --card-bg: #1e293b;
    --shadow: rgba(0, 0, 0, 0.3);
    --input-bg: #0edb1f;
    --hsla-example: rgb(68, 223, 21);
}

body {
    font-family: system-ui;
    background-color: var(--background);
    color: var(--text-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    margin: 0;
}

main > section:nth-child(1) {
    height: 500px;
    /* Centra el texto horizontalmente */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}